@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hr {
    display: block;
    margin-bottom: 50px;
    opacity: 0.2;
    border: 1px solid #FF5300;
}

h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #1D1B19;
}

h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #1D1B19;
}

h5 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

h6 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.text {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    opacity: 0.5;
}

.btn {
    width: 170px;
    height: 60px;
    border: 1px solid var(--color-mark);
    background: var(--color-mark);
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    outline: none;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}