@media (max-width: 820px) {
    .container {
        width: 100%;
    }
    .header__nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        margin-top: 1em;
    }
    .header__nav__item a {
        margin: 1em;
    }
    .burger {
        display: block;
    }
    .about__item {
        width: 50%;
        margin-bottom: 2em;
    }
    .best {
        display: none;
    }
    .place {
        flex-direction: column;
        text-align: center;
    }
    .place__slider__item:nth-child(3) {
        display: none;
    }
    .place__title {
        max-width: 100%;
    }
    .trends__cards__wrap {
        display: none;
    }
    .trends__text {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .destination__item {
        width: 33.3%;
    }
    .partners__item {
        width: 50%;
    }
}